<div class="forget m-auto">
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="main">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ms-5 p-2 p-lg-3" (click) ="back()" >Back</a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand p-2 p-lg-3 mt-4" href="#">
        <img src="../../assets/Logofinal2.png" width="75" alt="" />
      </a>
    </div>
  </nav>

  <div class="backReset">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 mt-5">
        <div class="text-center me-5 mt-5">
      
          <h2 class="form-subtitle mb-5 text-center text-white mt-5">
            Reset Password
          </h2>
    
        </div>
   
        <form
          action=""
          [formGroup]="OTPForm"
          (ngSubmit)="sendmail(OTPForm)"
          *ngIf="!forget"
        >
    

          <div class="mb-4 d-flex justify-content-center align-items-center">
            <input
              type="email"
              class="form-control bg-transparent"
              id="exampleFormControlInput1"
              placeholder="enter your email"
              formControlName="email"
            />
          </div>
          <P  class="text-danger d-flex justify-content-center">{{errormsg1}} </P>
          <div *ngIf="OTPForm.get('email')?.errors && OTPForm.get('email')?.touched" class="text-danger d-flex justify-content-center ">
            <p *ngIf="OTPForm.get('email')?.getError('required')" >Email is required</p>
        </div>
          <div class="mt-4 text-center fs-6 fw-bolder">
            <button
              id="send-btn"
              value="submit"
              class="select-image btn d-grid gap-2 col-3 mx-auto primaryBg text-white"
              [disabled]="!OTPForm.valid"
            >
              Send
            </button>
          </div>
        </form>
        <form action="" *ngIf="forget"   [formGroup]="ResetForm"
        (ngSubmit)="resetpass(ResetForm)">
        <p class="text-center text-white fw-bolder">Please Check Your Email to enter OTP "{{email}}"</p>
          <div class="mb-3 d-flex justify-content-center align-items-center">
         
            <input
              type="text"
              class="form-control bg-transparent"
              id="exampleFormControlInput3"
              placeholder="enter OTP"
              formControlName="otp"
            />
          </div>
          <div class="mb-3 d-flex justify-content-center align-items-center">
            <input
              type="password"
              class="form-control bg-transparent"
              id="exampleFormControlInput4"
              placeholder="enter your newpasssword"
              formControlName="newPassword"
            />
          </div>
          <P  class="text-danger d-flex justify-content-center">{{errormsg2}} </P>
          <div *ngIf="ResetForm.get('otp')?.errors && ResetForm.get('otp')?.touched" class="text-danger d-flex justify-content-center mb-4">
            <p *ngIf="ResetForm.get('otp')?.getError('required')" >OTP is required</p>
        </div>
        <div *ngIf="ResetForm.get('newPassword')?.errors && ResetForm.get('newPassword')?.touched" class="text-danger d-flex justify-content-center mb-4">
          <p *ngIf="ResetForm.get('newPassword')?.getError('required')" >Password is required</p>
      </div>

          <div class="mt-4 text-center fs-6 fw-bolder">
            <button
              id="reset-btn"
       
              value="Reset"
              class="select-image btn d-grid gap-2 col-3 mx-auto primaryBg text-white"
              [disabled]="!ResetForm.valid"

            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
